<div>
  <form [formGroup]="searchForm">
    <p>
      <input type="text" placeholder="Name" formControlName="name">
    </p>
    <div *ngIf="isSubmitted && formControls.name.errors">
      <div *ngIf="formControls.name.errors.pattern">The name box cannot contain non-alphabetic characters</div>
    </div>
    <p>
      <input type="date" placeholder="Date of birth" formControlName="dateOfBirth">
    </p>
    <div *ngIf="isSubmitted && formControls.dateOfBirth.errors">
      <div *ngIf="formControls.dateOfBirth.errors.pattern">The date field must be a valid date structure (YYYY/MM/DD)
      </div>
    </div>
    <p>
      <button [disabled]='loading' (click)='search()'>Search</button>
    </p>
  </form>
</div>
<div class='table-container'>
  <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="sortedData" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> Gender </th>
      <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
    </ng-container>

    <ng-container matColumnDef="birthDate">
      <th mat-header-cell mat-sort-header="birthDate" *matHeaderCellDef> BirthDate </th>
      <td mat-cell *matCellDef="let element"> {{element.birthDate}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<footer>
  <p>Last Request Time : {{lastRequestTime| date:' ss,SS'}} s</p>
</footer>